@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Pacifico&family=Poppins:wght@300;600&family=Roboto:wght@100;300;500;700;900&family=Syne:wght@400;500;600;700;800&family=Tenor+Sans&family=Ubuntu:wght@400;500;700&display=swap");

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Ubuntu",sans-serif;
}

a{
    text-decoration: none;
}